@font-face {
    font-family: 'Alte Haas Grotesk';
    src: url('./assets/fonts/AlteHaasGroteskRegular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Alte Haas Grotesk';
    src: url('./assets/fonts/AlteHaasGroteskBold.ttf') format('truetype');
    font-weight: bold;
}

:root {
    --ratio: 0.77777778;
    --height: 600px;
    --box-padding: calc(var(--width) * 0.015);
    --width: calc(var(--height) * var(--ratio));
    --border-size: calc(var(--box-padding) / 2);
    --section-gap: calc(var(--box-padding) * 1.2);
}

main {
    position: relative;
    inset: 0;
    display: flex;
    justify-content: space-between;
}

.preview {
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
    aspect-ratio: 7 / 9;
    height: var(--height);
    background: var(--background-color);
    padding: calc(var(--box-padding) * 2);
    font-family: 'Alte Haas Grotesk', sans-serif;
    color: #fff;
}

.top-section {
    display: flex;
    flex: 0 0 30%;
    gap: var(--box-padding);
}

header {
    display: flex;
    flex-basis: 76%;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: var(--box-padding);
}

h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: calc(var(--height) * 0.1);
    flex-basis: 100%;
}

h2 {
    margin: 0;
}

.make {
    color: #fff302;
}

.model {
    color: #feffff;
}

.variant-info {
    margin: 0;
    font-size: calc(var(--height) * 0.033);
    white-space: pre;
}

.logo {
    flex: 1;
    background: linear-gradient(90deg,
    rgba(255, 240, 0, 1) 0%,
    rgba(255, 240, 0, 1) 33.33%,
    rgba(237, 28, 35, 1) 33.33%,
    rgba(237, 28, 35, 1) 66.66%,
    rgba(255, 240, 0, 1) 66.66%,
    rgba(255, 240, 0, 1) 100%);
}

.box-section {
    border: var(--border-size) #feffff solid;
}

.book-type {
    flex: 0 0;
    padding: var(--box-padding);
}

.diagram {
    display: flex;
    flex: 1 1;
    background-size: cover;
    background-color: color-mix(in oklab, var(--background-color) 25%, white);
}

.controls {
    display: flex;
    flex: 0 1 400px;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: var(--box-padding);

    p {
        display: flex;
        margin: 0 0 20px;
        flex-basis: 100%;
        flex-wrap: wrap;
    }

    label {
        flex-basis: 100%;
        text-transform: capitalize;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    input[type="text"] {
        flex-basis: 100%;
        padding: 0.5rem;
    }
}

.color-picker {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        a {
            display: inline-block;
            width: 26px;
            height: 26px;
            background: var(--swatch-color, darkcyan);
            cursor: pointer;
            border: 1px solid var(--page-text-color);
        }
    }
}

button {
    margin: 20px 0 0 0;
    padding: 0.5rem;
}
