:root {
    --ratio: 0.77777778;
    --height: 600px;
    --box-padding: calc(var(--width) * 0.015);
    --width: calc(var(--height) * var(--ratio));
    --border-size: calc(var(--box-padding) / 2);
    --section-gap: calc(var(--box-padding) * 1.2);
}

main {
    position: relative;
    inset: 0;
    display: flex;
    justify-content: space-between;
}

.preview {
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
    aspect-ratio: 7 / 9;
    height: var(--height);
    background: #8f083c;
    padding: calc(var(--box-padding) * 2);
}

.top-section {
    display: flex;
    flex: 0 0;
    gap: var(--box-padding);
}

header {
    display: flex;
    flex-basis: 76%;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: var(--box-padding);
}

h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: calc(var(--height) * 0.1);
    flex-basis: 100%;
}

h2 {
    margin: 0;
}

.make {
    color: #fff302;
}

.model {
    color: #feffff;
}

.variant-info {
    margin: 0;
    font-size: calc(var(--height) * 0.033);
}

.logo {
    flex: 1;
    background: linear-gradient(90deg,
    rgba(255, 240, 0, 1) 0%,
    rgba(255, 240, 0, 1) 33.33%,
    rgba(237, 28, 35, 1) 33.33%,
    rgba(237, 28, 35, 1) 66.66%,
    rgba(255, 240, 0, 1) 66.66%,
    rgba(255, 240, 0, 1) 100%);
}

.box-section {
    border: var(--border-size) #feffff solid;
}

.book-type {
    flex: 0 0;
    padding: var(--box-padding);
}

.diagram {
    display: flex;
    flex: 1 1;
    background-size: cover;
}
