:root {
    --box-padding: 10px;
}

main {
    display: flex;
}

.preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 700px;
    aspect-ratio: 3 / 2;
    background: #8f083c;
    padding: calc(var(--box-padding) * 2);
}

.top-section {
    display: flex;
    flex-basis: 100%;
    gap: var(--box-padding);
}

header {
    display: flex;
    flex-basis: 80%;
    align-items: flex-start;
}

h1 {
    margin: 0;
    text-transform: uppercase;
}

.controls {
    border: 1px green solid;
}

.make {
    color: #fff302;
}

.model {
    color: #feffff;
}

.logo {
    flex: 1;
    background: #fff200;
}

.box-section {
    border: 5px #feffff solid;
}

.book-type {
    flex-basis: 100%;
}

.image {
    aspect-ratio: 3 / 2;
}
